
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Chirp display', sans-serif;
  font-size: 144px;
  line-height: 144px;
  font-weight: 700;
}

.title.ext-bold {
  font-family: 'Chirp display extended', sans-serif;
}

.title.ext-black {
  font-family: 'Chirp display extended', sans-serif;
  font-weight: 900;
}

.title._01 {
  font-size: 96px;
  line-height: 96px;
}

.title._02 {
  font-size: 80px;
  line-height: 80px;
}

.title._03 {
  font-size: 64px;
  line-height: 64px;
}

.title._04 {
  font-size: 48px;
  line-height: 48px;
}

.heading-2 {
  font-family: 'Chirp display extended', sans-serif;
}

.heading-3 {
  font-family: 'Chirp display extended', sans-serif;
  font-weight: 900;
}

.headline {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Chirp display', sans-serif;
  font-size: 30px;
  line-height: 32px;
}

.headline._01 {
  font-size: 30px;
  line-height: 32px;
}

.headline._02 {
  font-size: 22px;
  line-height: 24px;
}

.label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Chirp, sans-serif;
  font-size: 23px;
  line-height: 32px;
}

.label.manifesto {
  font-family: 'Sf pro text', sans-serif;
}

.label.body {
  font-size: 19px;
  line-height: 28px;
}

.label.body._01 {
  font-family: 'Sf pro text', sans-serif;
}

.label.body._02 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.label.sub {
  font-size: 15px;
  line-height: 20px;
}

.label.sub._01 {
  font-family: 'Sf pro text', sans-serif;
}

.label.sub._02 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 11px;
  line-height: 16px;
}

.label.sub._03 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 9px;
  line-height: 12px;
}

.rte {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sf pro text', sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}

.rte.manifesto {
  font-size: 23px;
  line-height: 32px;
}

.rte.body {
  font-size: 23px;
  line-height: 32px;
}

.rte.body._01 {
  font-size: 19px;
  line-height: 28px;
}

.rte.body._02 {
  font-size: 17px;
  line-height: 24px;
}

.rte.sub {
  font-size: 15px;
  line-height: 20px;
}

.rte.sub._02 {
  font-size: 11px;
  line-height: 16px;
}

.rte.sub._03 {
  font-size: 9px;
  line-height: 12px;
}

.cta {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sf pro text', sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.cta.bold._200.underline {
  text-decoration: underline;
}

.cta.bold._100 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.cta.bold._100.underline {
  text-decoration: underline;
}

.cta.bold._50 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.cta.bold._50.underline {
  text-decoration: underline;
}

.cta.bold._25 {
  font-size: 9px;
  line-height: 12px;
}

.cta.bold._25.underline {
  text-decoration: underline;
}

.cta.regular {
  font-weight: 400;
}

.cta.regular._200.underline {
  text-decoration: underline;
}

.cta.regular._100 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.cta.regular._100.underline {
  text-decoration: underline;
}

.cta.regular._25 {
  font-size: 9px;
  line-height: 12px;
}

.cta.regular._25.underline {
  text-decoration: underline;
}

.cta.regular._50 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.cta.regular._50.underline {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .title._01 {
    font-size: 144px;
    line-height: 144px;
  }

  .title._02 {
    font-size: 120px;
    line-height: 120px;
  }

  .title._03 {
    font-size: 96px;
    line-height: 96px;
  }

  .title._04 {
    font-size: 72px;
    line-height: 72px;
  }

  .headline._01 {
    font-size: 48px;
    line-height: 48px;
  }

  .headline._02 {
    font-size: 30px;
    line-height: 32px;
  }

  .rte.manifesto {
    font-size: 28px;
    line-height: 40px;
  }

  .rte.body._01 {
    font-size: 23px;
    line-height: 32px;
  }

  .rte.body._02 {
    font-size: 19px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991px) {
  .title._01 {
    font-size: 96px;
    line-height: 96px;
  }

  .title._02 {
    font-size: 80px;
    line-height: 80px;
  }

  .title._03 {
    font-size: 64px;
    line-height: 64px;
  }

  .title._04 {
    font-size: 48px;
    line-height: 48px;
  }

  .headline._01 {
    font-size: 30px;
    line-height: 32px;
  }

  .headline._02 {
    font-size: 22px;
    line-height: 24px;
  }

  .label.manifesto {
    font-size: 19px;
    line-height: 28px;
  }

  .label.body._01 {
    font-size: 17px;
    line-height: 24px;
  }

  .label.body._02 {
    font-size: 15px;
    line-height: 20px;
  }

  .rte.manifesto {
    font-size: 19px;
    line-height: 28px;
  }

  .rte.body._01 {
    font-size: 17px;
    line-height: 24px;
  }

  .rte.body._02 {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {

  .title._01 {
    font-size: 56px;
    line-height: 56px;
  }

  .title._02 {
    font-size: 48px;
    line-height: 48px;
  }

  .title._03 {
    font-size: 40px;
    line-height: 40px;
  }

  .title._04 {
    font-size: 28px;
    line-height: 28px;
  }
}


@font-face {
  font-family: 'Chirp cy vf std';
  src: url('../fonts/Chirp-CY-VF-Std.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp mono vf it';
  src: url('../fonts/Chirp-Mono-VF-It.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp vf std it';
  src: url('../fonts/Chirp-VF-Std-It.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp vf std';
  src: url('../fonts/Chirp-VF-Std.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp cy vf std it';
  src: url('../fonts/Chirp-CY-VF-Std-It.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp vf stdext';
  src: url('../fonts/Chirp-VF-StdExt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp display vf std';
  src: url('../fonts/Chirp-Display-VF-Std.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp mono vf';
  src: url('../fonts/Chirp-Mono-VF.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp cy vf stdext';
  src: url('../fonts/Chirp-CY-VF-StdExt.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp display vf ext';
  src: url('../fonts/Chirp-Display-VF-Ext.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp display extended';
  src: url('../fonts/Chirp-Display-Extended-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp';
  src: url('../fonts/Chirp-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp';
  src: url('../fonts/Chirp-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp display';
  src: url('../fonts/Chirp-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Chirp display extended';
  src: url('../fonts/Chirp-Display-Extended-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sf pro text';
  src: url('../fonts/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sf pro text';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
