/* ≤1633 px viewport width */

/* Headline component styles - Title sizes */
.title._01 {
  font-size: 144px;
  line-height: 144px;
}

.title._02 {
  font-size: 120px;
  line-height: 120px;
}

.title._03 {
  font-size: 96px;
  line-height: 96px;
}

.title._04 {0
  font-size: 72px;
  line-height: 72px;
}

.headline._01 {
  font-size: 48px;
  line-height: 48px;
}

.headline._02 {
  font-size: 30px;
  line-height: 32px;
}

.rte.manifesto {
  font-size: 28px;
  line-height: 40px;
}

.rte.body._01 {
  font-size: 23px;
  line-height: 32px;
}

.rte.body._02 {
  font-size: 19px;
  line-height: 28px;
}



/* Headline component styles - Headline sizes */
.headline._01 {
  font-size: 30px;
  line-height: 32px;
}

.headline._02 {
  font-size: 22px;
  line-height: 24px;
}

/* RTE component styles */
.label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Chirp, sans-serif;
  font-size: 23px;
  line-height: 32px;
}

.label.manifesto {
  font-family: 'Sf pro text', sans-serif;
}

.label.body {
  font-size: 19px;
  line-height: 28px;
}

.label.body._01 {
  font-family: 'Sf pro text', sans-serif;
}

.label.body._02 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.label.sub {
  font-size: 15px;
  line-height: 20px;
}

.label.sub._01 {
  font-family: 'Sf pro text', sans-serif;
}

.label.sub._02 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 11px;
  line-height: 16px;
}

.label.sub._03 {
  font-family: 'Sf pro text', sans-serif;
  font-size: 9px;
  line-height: 12px;
}

.rte {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sf pro text', sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}

.rte.manifesto {
  font-size: 23px;
  line-height: 32px;
}

.rte.body {
  font-size: 23px;
  line-height: 32px;
}

.rte.body._01 {
  font-size: 19px;
  line-height: 28px;
}

.rte.body._02 {
  font-size: 17px;
  line-height: 24px;
}

.rte.sub {
  font-size: 15px;
  line-height: 20px;
}

.rte.sub._02 {
  font-size: 11px;
  line-height: 16px;
}

.rte.sub._03 {
  font-size: 9px;
  line-height: 12px;
}

.cta {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Sf pro text', sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.cta.bold._100 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.cta.bold._50 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.cta.bold._25 {
  font-size: 9px;
  line-height: 12px;
}

.cta.regular {
  font-weight: 400;
}

.cta.regular._100 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.cta.regular._25 {
  font-size: 9px;
  line-height: 12px;
}

.cta.regular._50 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 1631px) {

/* 1631 px - 1104 px viewport width */

/* Headline component styles - Title sizes */

  .title._01 {
    font-size: calc( 96px + 48 * ((100vw - 1104px) / 527) );
    line-height: calc( 96px + 48 * ((100vw - 1104px) / 527) );
  }
  
  .title._02 {
    font-size: calc( 80px + 40 * ((100vw = 1104) / 527) );
    line-height: calc( 80px + 40 * ((100vw = 1104) / 527) );
  }
  
  .title._03 {
    font-size: calc( 64px + 32 * ((100vw - 1104px) / 527) );
    line-height: calc( 64px + 32 * ((100vw - 1104px) / 527) );
  }
  
  .title._04 {
    font-size: calc( 48px + 24 * ((100vw - 1104px) / 527) );
    line-height: calc( 48px + 24 * ((100vw - 1104px) / 527) );
  }

  /* Headline component styles - Headline sizes */

  .headline._01 {
    font-size: calc( 30px + 18 * ((100vw - 1104px) / 527) );
    line-height: calc( 32px + 16 * ((100vw - 1104px) / 527) );
  }

  .headline._02 {
    font-size: calc( 22px + 14 * ((100vw - 1104px) / 527) );
    line-height: calc( 24px + 12 * ((100vw - 1104px) / 527) );
  }

  /* RTE component styles */

  .label.manifesto {
    font-size: calc( 23px + 5 * ((100vw - 640px) / 463) );
    line-height: calc( 32px + 8 * ((100vw - 640px) / 463) );
  }

  .label.body._01 {
    font-size: calc( 19px + 4 * ((100vw - 1104px) / 463) );
    line-height: calc( 28px + 4 * ((100vw - 1104px) / 463) );
  }

  .label.body._02 {
    font-size: calc( 17px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 24px + 4 * ((100vw - 1104px) / 463) );
  }

  .rte.manifesto {
    font-size: calc( 23px + 5 * ((100vw - 640px) / 463) );
    line-height: calc( 32px + 8 * ((100vw - 640px) / 463) );
  }

  .rte.body._01 {
    font-size: calc( 19px + 4 * ((100vw - 1104px) / 463) );
    line-height: calc( 28px + 4 * ((100vw - 1104px) / 463) );
  }

  .rte.body._02 {
    font-size: calc( 17px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 24px + 4 * ((100vw - 1104px) / 463) );
  }

  .rte.sub._01 {
    font-size: calc( 15px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 20px + 4 * ((100vw - 1104px) / 463) );
  }

@media screen and (max-width: 1103px) {

/* 1103 px - 640 px viewport width */

/* Headline component styles - Title sizes */

  .title._01 {
    font-size: calc( 56px + 40 * ((100vw - 640px) / 463) );
    line-height: calc( 56px + 40 * ((100vw - 640px) / 463) );
  }
  
  .title._02 {
    font-size: calc( 48px + 32 * ((100vw - 640px) / 463) );
    line-height: calc( 48px + 32 * ((100vw - 640px) / 463) );
  }

  .title._03 {
    font-size: calc( 40px + 24 * ((100vw - 640px) / 463) );
    line-height: calc( 40px + 24 * ((100vw - 640px) / 463) );
  }

  .title._04 {
    font-size: calc( 28px + 20 * ((100vw - 640px) / 463) );
    line-height: calc( 28px + 20 * ((100vw - 640px) / 463) );
  }

  /* Headline component styles - Headline sizes */

  .headline._01 {
    font-size: calc( 22px + 8 * ((100vw - 640px) / 463) );
    line-height: calc( 24px + 8 * ((100vw - 640px) / 463) );
  }

  .headline._02 {
    font-size: calc( 19px + 4 * ((100vw - 640px) / 463) );
    line-height: calc( 20px + 4 * ((100vw - 640px) / 463) );  
  }

/* RTE component styles */

  .label.manifesto {
    font-size: calc( 19px + 4 * ((100vw - 640px) / 463) );
    line-height: calc( 28px + 4 * ((100vw - 640px) / 463) );
  }

  .label.body._01 {
    font-size: calc( 17px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 24px + 4 * ((100vw - 1104px) / 463) );
  }

  .label.body._02 {
    font-size: calc( 15px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 20px + 4 * ((100vw - 1104px) / 463) );
  }

  .rte.manifesto {
    font-size: calc( 19px + 4 * ((100vw - 640px) / 463) );
    line-height: calc( 28px + 4 * ((100vw - 640px) / 463) );
  }

  .rte.body._01 {
    font-size: calc( 17px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 24px + 4 * ((100vw - 1104px) / 463) );
  }

  .rte.body._02 {
    font-size: calc( 15px + 2 * ((100vw - 1104px) / 463) );
    line-height: calc( 20px + 4 * ((100vw - 1104px) / 463) );
  }
}

@media screen and (max-width: 639px) {
/* 639 px - 375 px viewport width */

/* Headline component styles - Title sizes */

  .title._01 {
    font-size: calc( 56px + 40 * ((100vw - 374px) / 265) );
    line-height: calc( 56px + 40 * ((100vw - 374px) / 265) );
  }

  .title._02 {
    font-size: calc( 48px + 48 * ((100vw - 374px) / 265) );
    line-height: calc( 48px + 48 * ((100vw - 374px) / 265) );
  } 

  .title._03 { 
    font-size: calc( 40px + 24 * ((100vw - 374px) / 265) );
    line-height: calc( 40px + 24 * ((100vw - 374px) / 265) );
  }

  .title._04 {
    font-size: calc( 28px + 20 * ((100vw - 374px) / 265) );
    line-height: calc( 28px + 20 * ((100vw - 374px) / 265) );
  }

    /* Headline component styles - Headline sizes */

    .headline._01 {
      font-size: calc( 22px + 8 * ((100vw - 374px) / 265) );
      line-height: calc( 24px + 8 * ((100vw - 374px) / 265) );    
    }
  
    .headline._02 {
      font-size: calc( 18px + 4 * ((100vw - 374px) / 265) );
      line-height: calc( 20px + 4 * ((100vw - 374px) / 265) );
    }
  
  /* RTE component styles */
  
    .label.manifesto {
      font-size: calc( 19px + 4 * ((100vw - 374px) / 265) );
      line-height: calc( 28px + 4 * ((100vw - 374px) / 265) );
    }
  
    .label.body._01 {
      font-size: calc( 17px + 2 * ((100vw - 374px) / 265) );
      line-height: calc( 24px + 4 * ((100vw - 374px) / 265) );
    }
  
    .label.body._02 {
      font-size: calc( 15px + 2 * ((100vw - 374px) / 265) );
      line-height: calc( 20px + 4 * ((100vw - 374px) / 265) );
    }
  
    .rte.manifesto {
      font-size: calc( 19px + 4 * ((100vw - 374px) / 265) );
      line-height: calc( 28px + 4 * ((100vw - 374px) / 265) );
    }
  
    .rte.body._01 {
      font-size: calc( 17px + 2 * ((100vw - 374px) / 265) );
      line-height: calc( 24px + 4 * ((100vw - 374px) / 265) );
    }
  
    .rte.body._02 {
      font-size: calc( 15px + 2 * ((100vw - 374px) / 265) );
      line-height: calc( 20px + 4 * ((100vw - 374px) / 265) );
    }
}
