  .image-masthead {
  background-blend-mode: normal, overlay, hard-light, color-burn, hard-light;
  }

  #well-being {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-blend-mode: normal, overlay, hard-light, exclusion;

  }
  
  /* >L-viewport*/
    @media only screen 
  and (min-width: 1441px){

/* 1x fluid scaling max */

    .headline-1000.fluid, .headline-1000.light.fluid, .headline-1000.bold.fluid, .headline-1000.black.fluid {
      font-size: 144px;
	  line-height: 144px;
      letter-spacing: -6px;
    }
    
    .headline-1000.black.fluid.all-caps {
      font-size: 144px;
    line-height: 128px;
      letter-spacing: -6px;
    }

      .headline-800.fluid, .headline-800.light.fluid, .headline-800.bold.fluid, .headline-800.black.fluid {
      font-size: 128px;
	  line-height: 128px;
      letter-spacing: -5.5px;
    }
    
    .headline-600.fluid, .headline-600.light.fluid, .headline-600.bold.fluid, .headline-600.black.fluid {
      font-size: 112px;
	  line-height: 112px;
      letter-spacing: -5px;
    }
    
    .headline-400.fluid, .headline-400.light.fluid, .headline-400.bold.fluid, .headline-400.black.fluid {
      font-size: 96px;
	  line-height: 96px;
      letter-spacing: -5px;
    }
    
     .headline-200.fluid, .headline-200.light.fluid, .headline-200.bold.fluid, .headline-200.black.fluid {
      font-size: 88px;
	  line-height: 88px;
      letter-spacing: -4px;
    }
    
    .headline-100.fluid, .headline-100.light.fluid, .headline-100.bold.fluid, .headline-100.black.fluid {
      font-size: 80px;
	  line-height: 80px;
      letter-spacing: -4px;
    }

/* 2x fluid scaling max */

        .headline-1000.fluid2x, .headline-1000.light.fluid2x, .headline-1000.bold.fluid2x, .headline-1000.black.fluid2x {
      font-size: 288px;
    line-height: 288px;
      letter-spacing: -12px;
    }
    
      .headline-800.fluid2x, .headline-800.light.fluid2x, .headline-800.bold.fluid2x, .headline-800.black.fluid2x {
      font-size: 256px;
    line-height: 256px;
      letter-spacing: -11px;
    }
    
    .headline-600.fluid2x, .headline-600.light.fluid2x, .headline-600.bold.fluid2x, .headline-600.black.fluid2x {
      font-size: 224px;
    line-height: 224px;
      letter-spacing: -10px;
    }
    
    .headline-400.fluid2x, .headline-400.light.fluid2x, .headline-400.bold.fluid2x, .headline-400.black.fluid2x {
      font-size: 192px;
    line-height: 192px;
      letter-spacing: -10px;
    }
    
     .headline-200.fluid2x, .headline-200.light.fluid2x, .headline-200.bold.fluid2x, .headline-200.black.fluid2x {
      font-size: 176px;
    line-height: 176px;
      letter-spacing: -8px;
    }
    
    .headline-100.fluid2x, .headline-100.light.fluid2x, .headline-100.bold.fluid2x, .headline-100.black.fluid2x {
      font-size: 160px;
    line-height: 160px;
      letter-spacing: -8px;
    }


/* 2.5x fluid scaling max */

        .headline-1000.fluid2-5x, .headline-1000.light.fluid2-5x, .headline-1000.bold.fluid2-5x, .headline-1000.black.fluid2-5x {
      font-size: 360px;
    line-height: 360px;
      letter-spacing: -15px;
    }
    
      .headline-800.fluid2-5x, .headline-800.light.fluid2-5x, .headline-800.bold.fluid2-5x, .headline-800.black.fluid2-5x {
      font-size: 320px;
    line-height: 320px;
      letter-spacing: -13.75px;
    }
    
    .headline-600.fluid2-5x, .headline-600.light.fluid2-5x, .headline-600.bold.fluid2-5x, .headline-600.black.fluid2-5x {
      font-size: 280px;
    line-height: 280px;
      letter-spacing: -12.5px;
    }
    
    .headline-400.fluid2-5x, .headline-400.light.fluid2-5x, .headline-400.bold.fluid2-5x, .headline-400.black.fluid2-5x {
      font-size: 192px;
    line-height: 192px;
      letter-spacing: -12.5px;
    }
    
     .headline-200.fluid2-5x, .headline-200.light.fluid2-5x, .headline-200.bold.fluid2-5x, .headline-200.black.fluid2-5x {
      font-size: 176px;
    line-height: 176px;
      letter-spacing: -10px;
    }
    
    .headline-100.fluid2-5x, .headline-100.light.fluid2-5x, .headline-100.bold.fluid2-5x, .headline-100.black.fluid2-5x {
      font-size: 160px;
    line-height: 160px;
      letter-spacing: -10px;
    }
    
  }
  
  /*L-viewport*/
    @media only screen 
  and (min-width: 1024px) 
  and (max-width: 1440px) {
        .grid-wrapper,.masthead,.image-masthead {
         padding-right: 10vw;
    padding-left: 10vw;
    }
    
    /*light-ui grid*/
    .light-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
	  
	   /*dense-ui grid*/
    .dense-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
    /*spacers*/
    .s1200 {
      height: 224px;
    }
    
    .s1100 {
      height: 160px;
    }
    
    .s1000 {
      height: 112px;
    }
    
    .s900 {
      height: 80px;
    }
    
    .s800 {
      height: 56px;
    }
    
    .s700 {
      height: 40px;
    }
    
    .s600 {
      height: 24px;
    }
    
    .s500 {
      height: 20px;
    }
    
    .s400 {
      height: 16px;
    }
    
    .s300 {
      height: 12px;
    }
    
    .s200 {
      height: 8px;
    }
    
    .s100 {
      height: 4px;
    }
    
    /*type*/
    .headline-1000 {
      font-size: 144px;
	  line-height: 144px;
      letter-spacing: -6px;
    }
    
    .headline-800 {
      font-size: 128px;
	  line-height: 128px;
      letter-spacing: -5.5px;
    }
    
    .headline-600 {
      font-size: 112px;
	  line-height: 112px;
      letter-spacing: -5px;
    }
    
    .headline-400 {
      font-size: 96px;
	  line-height: 96px;
      letter-spacing: -5px;
    }
    
      .headline-200 {
      font-size: 88px;
	  line-height: 88px;
      letter-spacing: -4px;
    }
    
    .headline-100 {
      font-size: 80px;
	  line-height: 80px;
      letter-spacing: -4px;
    }
    
    .subheading-300 {
      font-size: 64px;
	  line-height: 64px;
      letter-spacing: -3px;
    }
    
    .subheading-200 {
      font-size: 56px;
	  line-height: 56px;
      letter-spacing: -3px;
    }
    
    .subheading-100 {
      font-size: 48px;
	  line-height: 52px;
      letter-spacing: -2px;
    }
    
    .subheading-50 {
      font-size: 40px;
	  line-height: 44px;
      letter-spacing: -1.5px;
    }
    
    .paragraph-700 {
      font-size: 32px;
	  line-height: 36px;
      letter-spacing: 0px;
    }
    
    .paragraph-600 {
      font-size: 28px;
	  line-height: 32px;
      letter-spacing: 0px;
    }
    
    .paragraph-400 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-300 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-200 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-150 {
      font-size: 16px;
	  line-height: 24px;
      letter-spacing: 0px;
    }
    
    .paragraph-100 {
      font-size: 14px;
	  line-height: 20px;
      letter-spacing: 0px;
    }
    
    .paragraph-50 {
      font-size: 12px;
	  line-height: 18px;
      letter-spacing: 0px;
    }
    
    .paragraph-25 {
      font-size: 10px;
	  line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
  
  /*M-viewport*/
      @media only screen 
  and (min-width: 768px) 
  and (max-width: 1023px) {
         .grid-wrapper,.masthead,.image-masthead {
         padding-right: 48px;
    padding-left: 48px;
    }
    
    /*light-ui grid*/
    .light-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
 /*dense-ui grid*/
    .dense-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}   
     /*spacers*/
    .s1200 {
      height: 224px;
    }
    
    .s1100 {
      height: 160px;
    }
    
    .s1000 {
      height: 112px;
    }
    
    .s900 {
      height: 80px;
    }
    
    .s800 {
      height: 56px;
    }
    
    .s700 {
      height: 40px;
    }
    
    .s600 {
      height: 24px;
    }
    
    .s500 {
      height: 20px;
    }
    
    .s400 {
      height: 16px;
    }
    
    .s300 {
      height: 12px;
    }
    
    .s200 {
      height: 8px;
    }
    
    .s100 {
      height: 4px;
    }
    
    /*type*/
    .headline-1000 {
      font-size: 128px;
	  line-height: 128px;
      letter-spacing: -5.5px;
    }
    
    .headline-800 {
      font-size: 112px;
	  line-height: 112px;
      letter-spacing: -5px;
    }
    
    .headline-600 {
      font-size: 96px;
	  line-height: 96px;
      letter-spacing: -5px;
    }
    
      .headline-400 {
      font-size: 88px;
	  line-height: 88px;
      letter-spacing: -4px;
    }
    
    .headline-200 {
      font-size: 80px;
	  line-height: 80px;
      letter-spacing: -4px;
    }
    
    .headline-100 {
      font-size: 64px;
	  line-height: 64px;
      letter-spacing: -3px;
    }
    
    .subheading-300 {
      font-size: 56px;
	  line-height: 56px;
      letter-spacing: -3px;
    }
    
    .subheading-200 {
      font-size: 48px;
	  line-height: 52px;
      letter-spacing: -2px;
    }
    
    .subheading-100 {
      font-size: 40px;
	  line-height: 44px;
      letter-spacing: -1.5px;
    }
    
    .subheading-50 {
      font-size: 32px;
	  line-height: 36px;
      letter-spacing: 0px;
    }
    
    .paragraph-700 {
      font-size: 28px;
	  line-height: 32px;
      letter-spacing: 0px;
    }
    
     .paragraph-600 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-400 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-300 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-200 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-150 {
      font-size: 16px;
	  line-height: 24px;
      letter-spacing: 0px;
    }
    
    .paragraph-100 {
      font-size: 14px;
	  line-height: 20px;
      letter-spacing: 0px;
    }
    
    .paragraph-50 {
      font-size: 12px;
	  line-height: 18px;
      letter-spacing: 0px;
    }
    
    .paragraph-25 {
      font-size: 10px;
	  line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
  
  /*S-viewport*/
      @media only screen 
  and (min-width: 512px) 
  and (max-width: 767px) {
    
         .grid-wrapper,.masthead,.image-masthead {
         padding-right: 48px;
    padding-left: 48px;
    }
    
     /*light-ui grid*/
    .light-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
    /*dense-ui grid*/
    .dense-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
     /*spacers*/
	.s1200 {
      height: 160px;
    }
    
    .s1100 {
      height: 112px;
    }
    
    .s1000 {
      height: 80px;
    }
    
    .s900 {
      height: 56px;
    }
    
    .s800 {
      height: 40px;
    }
    
    .s700 {
      height: 24px;
    }
    
    .s600 {
      height: 20px;
    }
    
    .s500 {
      height: 16px;
    }
    
    .s400 {
      height: 12px;
    }
    
    
    .s300 {
      height: 12px;
    }
    
    .s200 {
      height: 8px;
    }
    
    .s100 {
      height: 4px;
    }
    
    /*type*/
    .headline-1000 {
     /* word-break: break-all;*/
      font-size: 112px;
	  line-height: 112px;
      letter-spacing: -5px;
    }
    
    .headline-800 {
    /*  word-break: break-all;*/
      font-size: 96px;
	  line-height: 96px;
      letter-spacing: -5px;
    }
    
      .headline-600 {
      /*  word-break: break-all;*/
      font-size: 88px;
	  line-height: 88px;
      letter-spacing: -4px;
    }
    
    .headline-400 {
     /* word-break: break-all;*/
      font-size: 80px;
	  line-height: 80px;
      letter-spacing: -4px;
    }
    
    .headline-200 {
     /* word-break: break-all;*/
      font-size: 64px;
	  line-height: 64px;
      letter-spacing: -3px;
    }
    
    .headline-100 {
     /* word-break: break-all;*/
      font-size: 56px;
	  line-height: 56px;
      letter-spacing: -3px;
    }
    
    .subheading-300 {
     /* word-break: break-all;*/
      font-size: 48px;
	  line-height: 52px;
      letter-spacing: -2px;
    }
    
    .subheading-200 {
     /* word-break: break-all;*/
      font-size: 40px;
	  line-height: 44px;
      letter-spacing: -1.5px;
    }
    
    .subheading-100 {
    /*  word-break: break-all;*/
      font-size: 32px;
	  line-height: 36px;
      letter-spacing: 0px;
    }
    
    .subheading-50 {
      font-size: 28px;
	  line-height: 32px;
      letter-spacing: 0px;
    }
    
    .paragraph-700 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-600 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-400 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-300 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-200 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-150 {
      font-size: 16px;
	  line-height: 24px;
      letter-spacing: 0px;
    }
    
    .paragraph-100 {
      font-size: 14px;
	  line-height: 20px;
      letter-spacing: 0px;
    }
    
    .paragraph-50 {
      font-size: 12px;
	  line-height: 18px;
      letter-spacing: 0px;
    }
    
    .paragraph-25 {
      font-size: 10px;
	  line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
  
  /*XS-viewport*/
      @media only screen 
  and (min-width: 320px) 
  and (max-width: 511px) {
    
         .grid-wrapper,.masthead,.image-masthead {
         padding-right: 24px;
    padding-left: 24px;
    }
    
     /*light-ui grid*/
    .light-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
    /*dense-ui grid*/
    .dense-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: minmax(1px, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -ms-grid-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
     /*spacers*/
	.s1200 {
      height: 112px;
    }
    
    .s1100 {
      height: 80px;
    }
    
    .s1000 {
      height: 56px;
    }
    
    .s900 {
      height: 40px;
    }
    
    .s800 {
      height: 24px;
    }
    
    .s700 {
      height: 20px;
    }
    
    .s600 {
      height: 16px;
    }
    
    .s500 {
      height: 16px;
    }
    
    .s400 {
      height: 12px;
    }
    
    
    .s300 {
      height: 12px;
    }
    
    .s200 {
      height: 8px;
    }
    
    .s100 {
      height: 4px;
    }
    
    
    /*type*/
    .headline-1000 {
      /*word-break: break-all;*/
      font-size: 80px;
	  line-height: 80px;
      letter-spacing: -4px;
    }
    
    .headline-800 {
    /*  word-break: break-all;*/
      font-size: 64px;
	  line-height: 64px;
      letter-spacing: -3px;
    }
    
    .headline-600 {
     /* word-break: break-all;*/
      font-size: 56px;
	  line-height: 56px;
      letter-spacing: -3px;
    }
    
    .headline-400 {
     /* word-break: break-all;*/
      font-size: 48px;
	  line-height: 52px;
      letter-spacing: -2px;
    }
    
    .headline-200 {
     /* word-break: break-all;*/
      font-size: 40px;
	  line-height: 44px;
      letter-spacing: -1.5px;
    }
    
    .headline-100 {
     /* word-break: break-all;*/
      font-size: 32px;
	  line-height: 36px;
      letter-spacing: 0px;
    }
    
    .subheading-300 {
      font-size: 28px;
	  line-height: 32px;
      letter-spacing: 0px;
    }
    
    .subheading-200 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .subheading-100 {
      font-size: 24px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .subheading-50 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-700 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-600 {
      font-size: 20px;
	  line-height: 28px;
      letter-spacing: 0px;
    }
    
    .paragraph-400 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-300 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-200 {
      font-size: 18px;
	  line-height: 26px;
      letter-spacing: 0px;
    }
    
    .paragraph-150 {
      font-size: 16px;
	  line-height: 24px;
      letter-spacing: 0px;
    }
    
    .paragraph-100 {
      font-size: 14px;
	  line-height: 20px;
      letter-spacing: 0px;
    }
    
    .paragraph-50 {
      font-size: 12px;
	  line-height: 18px;
      letter-spacing: 0px;
    }
    
    .paragraph-25 {
      font-size: 10px;
	  line-height: 16px;
      letter-spacing: 0.5px;
    }
  }
